{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Tu carrito {% endblock  %}



{% block content %}

<div class="cart-container-table">
      {% if items %}
        <p class="cart-total-payable">Total a pagar: ${{total_sale|floatformat:0|intcomma}} </p>
        <table class="table cart-table-table">
            <thead>
              <tr>
                <th class="text-center" scope="col">PRODUCTO</th>
                <th class="text-center" scope="col">CANTIDAD</th>
                <th class="text-center" scope="col">SUMAR</th>
                <th class="text-center" scope="col">RESTAR</th>
                <th class="text-center" scope="col">TOTAL POR PRODUCTO</th>
                <th class="text-center" scope="col">ELIMINAR</th>
              </tr>
            </thead>
            <tbody>
                {% for item in items %}
                  <tr>
                    <td>{{item.product|truncatechars:40}}</td>
                    <td class="text-center">{{item.quantity}}</td>
                    <td class="text-center"><a class="btn btn-success" href="{% url 'cart_app:add_product' id=item.key %}"><i class="fa-solid fa-plus"></i></a></td>
                    <td class="text-center"><a class="btn btn-danger" href="{% url 'cart_app:subtract_product' id=item.key %}"><i class="fa-solid fa-minus"></i></a></td>
                    <td class="text-center">$ {{item.total|floatformat:0|intcomma}}</td>
                    <td class="text-center"><a class="btn btn-danger" href="{% url 'cart_app:delete_product' id=item.key %}"><i class="fa-solid fa-trash-can"></i></a></td>  
                  </tr>
                {% endfor %}
                {% else %}
                  <div class="cart-div-no-products">
                    <p class="cart-text-no-products">Selecciona Tus Productos Favoritos</p>
                    <a class="cart-a-all-products" href="{% url 'product_app:all_categories_products' %}">Agregar productos</a>
                  </div>
                {% endif %}
            </tbody>
        </table>
        {% if items %}
          <a class="cart-a-all-products" href="{{make_order}}">Hacer pedido <i class="fa-brands fa-whatsapp"></i></a>
        {% endif %}
</div>

{% endblock  %}