{% extends 'base/base.html' %}
{% load static %}

{% block title %} about-Administrador {% endblock  %}


{% block header %}
{% endblock  %}



{% block content %}

    
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">agregar about us</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">SOBRE NOSOTROS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

            {{form_about}}
    
            <button type="submit" class="btn btn-primary">agregar</button>
        </form>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
      </div>
    </div>
  </div>
</div>



{% for l in list_about %}
  <p>
    <li> {{l.title}} -- {{l.user.name}} -- {{l.created}} -- <a href="{% url 'home_app:about_edit' l.pk %}">editar</a>
  </p>
{% endfor %}






        
{% endblock  %}





{% block footer %}
{% endblock  %}
