{% extends 'base/base.html' %}
{% load static %}

{% block title %} Sobre Nosotros {% endblock  %}






{% block content %}


<main class="about-main">
    <section class="about-main-img">
        <img class="about-img-first" src="{% static 'images/image_19.png' %}" alt="">
        <div class="about-text-first">
            <h2 class="about-text-h2">{{title}}</h2>
            <p class="about-text-p">{{description}}</p>
        </div>
    </section>

    <section class="about-main-description">
        <picture class="about-container-img">
            <img class="about-img-principal" src="{{principal_image.url}}" alt="">
        </picture>
        <aside class="about-container-aside">
            <h2 class="about-aside-about-us">{{title_1}}</h2>
            <p class="about-aside-description">{{description_title_1}}</p>
            <picture class="about-container-avatar">
                <div>
                    <img class="about-img-avatar" src="{{avatar.url}}" alt="">
                </div>
                <div class="about-container-name-lastaname">
                    <h2 class="about-h2-name">{{name_avatar}}</h2>
                    <p class="about-p-lastname">{{description_avatar}}</p>
                </div>
            </picture>
            <h2 class="about-aside-about-us">{{title_2}}</h2>
           <p class="about-aside-description">{{description_title_2}}</p>
        </aside>
    </section>

    <section class="about-main-fundation">
        <h2 class="about-fundation-title">{{title_3}}</h2>
        <p class="about-fundation-description">{{description_title_3}}</p>
    </section>
</main>


{% endblock  %}