*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --poppins:'Poppins', sans-serif;
}


.register-form-user{
    width: 340px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.register-form-title{
    font-size: 40px;
    font-family: var(--poppins);
    color: #004D40;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
}

.personalized-registration-button{
    background: #004D40;
    border: none;
    margin: 50px 0;
}

.personalized-registration-button:hover{
    background: #009980;
}
.personalized-registration-button:active{
    background: #009980 !important;
}

.register-form-inputs{
    display: flex;
    flex-direction: column;
}

.form-control:focus {
    border-color: #009980;
    box-shadow: none
}
    