<footer class="footer">
    <div class="container-footer">
        <picture class="container-icons-fb-tw-ins">
            <a href="" class="icons-link-fb-tw-ins">
                <i class="fa-brands fa-square-twitter"></a></i>
            <a href="" class="icons-link-fb-tw-ins">
                <i class="fa-brands fa-facebook" ></i>
            </a>
            <a href="" class="icons-link-fb-tw-ins">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </picture>
    
        <div class="footer-info-h3">
            <h3 class="info-h3-detail">Contactanos</h3>
            <h3 class="info-h3-detail">Nuestros servicios</h3>
            <h3 class="info-h3-detail">Politicas de Privacidad</h3>
            <h3 class="info-h3-detail">Terminos y condiciones</h3>
            <h3 class="info-h3-detail">carreras</h3>
        </div>
    
        <div class="footer-text-copyright">
            <p class="footer-text-syle">FerreAgros Copyright © 2022 FerreAgros - Todos Los Derechos Reservados</p>
        </div>
    </div>
    
</footer>