
<header class="header nav__link--menu">
    <div class="header-container">
        <div class="container-title">
            <a href="{% url 'home_app:home' %}" class="header-title-link header-close-title-principal">FerreAgros</a>
        </div>
        <form class="container-search" method="GET" action="{% url 'product_app:multiple_filters' %}">
            <div class="search-input">
                <input class="input-input" id="kword" name="kword" type="text" placeholder="Buscar...">
            </div>
            <button href="" class="search-icon" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </button>
        </form>
    </div>
    <nav class="header-nav">
        <ul class="nav-ul">
            <li class="ul-li"><a {% if request.path == '/' %} class="li-a-active"                            {% else %} class="li-a" {% endif %} href="{% url 'home_app:home' %}">Inicio</a></li>
            <li class="ul-li"><a {% if request.path == '/todos/categorias/productos/' %} class="li-a-active" {% else %} class="li-a" {% endif %} href="{% url 'product_app:all_categories_products' %}">Productos</a></li>
            <li class="ul-li"><a {% if request.path == '/busqueda/filtros/' %} class="li-a-active"           {% else %} class="li-a" {% endif %} href="{% url 'product_app:multiple_filters' %}">Filtrar Productos</a></li>
            <li class="ul-li"><a {% if request.path == '/nosotros/' %} class="li-a-active"                   {% else %} class="li-a" {% endif %} href="{% url 'home_app:about_us' %}">Sobre nosotros</a></li>
        </ul>
    </nav>

    <div class="header-user">

        <button class="user-a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="a-icons">
                <i class="fa-solid fa-heart"></i>
                <span class="amount-product">{{favorite_count}}</span>
            </div> 
        </button>
        <ul class="dropdown-menu text-center"> 
            <p class="font-weight-bold text-center text-dark">Tus favoritos <i class="fa-solid fa-heart"></i></p>          
            {% if favorite_by_user %}
                <li><hr class="dropdown-divider"></li>
                {% for favorite in favorite_by_user %}
                    <li class="list-group-item d-flex justify-content-between align-items-center px-2">{{favorite.product|truncatechars:25|title}}</li>
                    <li><hr class="dropdown-divider"></li>
                {% endfor %}
                <a class="badge text-bg-success p-2" href="{% url 'cart_app:products_favorite_by_user' %}">Ver tus favoritos</a>
            {% else %}
                {% if request.user.is_authenticated %}
                    <div class="alert alert-danger mx-3" role="alert">
                        Tu lista de favoritos está vacía.
                    </div>
                    <a class="badge text-bg-success p-2" href="{% url 'product_app:all_categories_products' %}">Agregar favoritos</a>
                {% else %}
                    <a class="badge text-bg-success p-2" href="{% url 'users_app:user_login' %}">Iniciar Sesión</a>
                {% endif %} 
            {% endif %}
        </ul>

        

        <button class="user-a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="a-icons">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="amount-product">{{total_of_products}}</span>
            </div>
        </button>
        <ul class="dropdown-menu text-center">
            <p class="font-weight-bold text-center text-dark">Tu Carrito <i class="fa-solid fa-car"></i></p> 
            {% if products_cart %}
                <li><hr class="dropdown-divider"></li>
                {% for item in products_cart %}
                    <li class="list-group-item d-flex justify-content-between align-items-center px-2">{{item.product|truncatechars:25|title}}<span class="badge bg-success rounded-pill">{{item.quantity}}</span> </li>
                    <li><hr class="dropdown-divider"></li>
                {% endfor %}
            <a class="badge text-bg-success p-2" href="{% url 'cart_app:cart_sale' %}">Ver tu Carrito</a>
            {% else %}
                <div class="alert alert-danger mx-3" role="alert">
                    No tienes productos en el carrito.
                </div>
                <a class="badge text-bg-success p-2" href="{% url 'product_app:all_categories_products' %}">Agregar productos</a>
            {% endif %}
        </ul>

        


        <button class="user-a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="a-icons">
                {% if request.user.is_authenticated %}
                    <i class="fa-solid fa-user"></i>
                {% else %}
                    <i class="fa-solid fa-user-secret"></i>
                {% endif %}
            </div>
        </button>
        <ul class="dropdown-menu text-center bg-dark">
            {% if request.user.is_authenticated %}
                <button type="button" class="btn btn-success">{{user.name|truncatechars:12|title}}</button>
                <h6><a class="badge mt-3" href="{% url 'users_app:change_password' %}">Cambiar contraseña</a><h6>
                <h6><a class="badge text-bg-danger mt-3" href="{% url 'users_app:user_logout' %}">Cerrar Sesión <i class="fa-solid fa-right-from-bracket p-lg-2"></i></a></h6>
            {% else %}
                <h5><a class="badge text-bg-success mt-3" href="{% url 'users_app:user_register' %}">Registrate <i class="fa-solid fa-right-from-bracket p-lg-2"></i></a></h5>
                <h5><a class="badge text-bg-success mt-3" href="{% url 'users_app:user_login' %}">Iniciar Sesión <i class="fa-solid fa-right-from-bracket p-lg-2"></i></a></h5>
            {% endif %}
        </ul>
    </div>
</header>
<button class="header-menu-button">
    <div class="container-title">
        <a href="{% url 'home_app:home' %}" class="header-title-link">FerreAgros</a>
    </div>
    <div class="nav__menu">
        <i class="fa-solid fa-bars icon-menu"></i>
    </div>
</button>







