
<header class="header nav__link--menu">
    <div class="header-container">
        <div class="container-title">
            <a href="{% url 'home_app:home' %}" class="header-title-link header-close-title-principal">FerreAgros</a>
        </div>
        <div  class="container-search">
            <div class="search-input">
                <input class="input-input" type="text" placeholder="Buscar...">
            </div>
            <a href="" class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
    </div>
    <nav class="header-nav">
        <ul class="nav-ul">
            <li class="ul-li"><a class="li-a" href="">Inicio</a></li>
            <li class="ul-li"><a class="li-a" href="">Fotos</a></li>
            <li class="ul-li"><a class="li-a" href="">Videos</a></li>
            <li class="ul-li"><a class="li-a" href="">Nosotros</a></li>
        </ul>
    </nav>
    <div class="header-user">
        <button class="user-a">
            <div class="a-icons">
                <i class="fa-solid fa-heart"></i>
            </div>
        </button>
        <button class="user-a">
            <div class="a-icons">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="amount-product">99</span>
            </div>
        </button>
        <button class="user-a">
            <div class="a-icons">
                <i class="fa-solid fa-user"></i>
            </div>
        </button>
    </div>
</header>
<button class="header-menu-button">
    <div class="container-title">
        <a href="{% url 'home_app:home' %}" class="header-title-link">FerreAgros</a>
    </div>
    <div class="nav__menu">
        <i class="fa-solid fa-bars icon-menu"></i>
    </div>
</button>







