{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}


{% block title %} Detalle - {{product.name}} {% endblock  %}



{% block content %}


<main class="detail_product_main">
    <section class="detail-section-detail-buy">
        <div class="detail-all-images-product">
            <picture class="detail-container-principal-image-product">
                <img class="detail-principal-image-product" src="{{product.principal_image.url}}" alt="">
            </picture>
            <picture class="detail-container-secondary-image-product">
                {% for img in list_images %}
                        <img class="detail-secondary-image-product" src="{{img.images.url}}" alt="">       
                {% endfor %} 
            </picture>
        </div>
        <div class="detail-container-info-product">
            <div class="detail-container-title-and-description">
                <h2 class="detail-complete-title-h2">{{product.name|title}}</h2>
                <p class="detail-complete-description-h2">{{product.description|truncatechars:1000}}</p>
            </div>
            <div class="detail-container-two-prices">
                <p class="detail-p-price-current">${{product.price|floatformat:0|intcomma}}</p>
                <p class="detail-p-price-old">$99.000.000</p>
            </div>
            <div class="detail-container-categories-all">
                <h3 class="detail-title-h3-categories">Categoria:</h3>
                <ul class="detail-container-list-categories-ul">
                    {% for category in categories %}
                        <li class="detail-ul-li-category-list">{{category.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="detail-container-add-car-car">
                <a href="" class="detail-container-link-add-car">
                    <span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    Añadir al carrito
                </a>
            </div>
            <div class="detail-container-link-favorites">
                <a href="" class="detail-link-add-favotites-a">
                    <span class="detail-button-like-icon">
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    Añadir a favoritos
                </a>
            </div>
        </div>
    </section>
</main>



{% endblock  %}