{% extends 'base/base.html' %}

{% block title %}Cambiar contraseña{% endblock  %}


{% block header %}
{% endblock  %}



{% block content %}


<div class="register-form-user">
    <a href="{% url 'home_app:home' %}"><i class="fa-solid fa-circle-arrow-left" style="color: #004D40;"></i></a>
    <h2 class="register-form-title">FerreMax</h2>
   
    <form method="POST" class="register-form-inputs"> {% csrf_token %}

        {% comment %} {% if form.old_password.errors %}
            <div class="alert alert-danger">{{ form.old_password.errors }}</div>
        {% endif %}  {% endcomment %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <p class="text-center">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            {{form.old_password}}
        </div>

        <div class="mb-3">
            {{form.new_password_1}}
        </div>

        <div class="mb-3">
            {{form.new_password_2}}
        </div>

        {% if form.non_field_errors  %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}



        <button type="submit" class="btn btn-primary personalized-registration-button">Cambiar contraseña</button>
    </form>
</div> 


{% endblock  %}




{% block footer %}
{% endblock  %}

